{% extends 'main.html' %}{% load static %} {% block content %}
<div class="container">
  <div class="row">
    <h2>Logs</h2>
    <a href=""></a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>№</td>
        <td>driver</td>
        <td>unit no</td>
        <td>status</td>
        <td>co-driver</td>
        <td>last known location</td>
        <td>violations</td>
        <td>warnings</td>
        <td>break</td>
        <td>drive</td>
        <td>shift</td>
        <td>cycle</td>
      </tr>
    </thead>
    <tbody id="tbody" class="hoverable">
      {% if drivers %} {% for driver in drivers %}
      <tr onclick="logRedirect({{driver.id}})">
        <td>n*</td>
        <td>{{driver.user.first_name}} {{driver.user.last_name}}</td>
        <td>{{driver.vehicle.unit_number}}</td>
        <td>*</td>
        <td>{{driver.co_driver}}</td>
        <td>*</td>
        <td>*</td>
        <td>*</td>
        <td>**</td>
        <td>**</td>
        <td>**</td>
        <td>**</td>
      </tr>

      {% endfor %} {% else %}
      <tr>
        <td colspan="12">no records found</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
