{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ELD</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="loader"></div>
    <div class="page-container">
      <nav>
        <div class="logo-container">
          <img src="{% static 'images/logo.png' %}" width="150" alt="logo" />
          <div id="side-change">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
        <div class="log-out">
          <a href="#">Log out</a>
        </div>
      </nav>
      <div id="side-bar">
        <ul>
          <li>
            <a href="{% url 'drivers' %}" {% if category == 'drivers' %}class="active"{% endif %}><i class="fas fa-user-friends"></i>Drivers</a>
          </li>
          <li>
            <a href="{% url 'vehicles' %}" {% if category == 'vehicles' %}class="active"{% endif %}><i class="fas fa-truck"></i>Vehicles</a>
          </li>
          <li>
            <a href="{% url 'logs' %}" {% if category == 'logs' %}class="active"{% endif %}><i class="fas fa-tablet-alt"></i>Logs</a>
          </li>
        </ul>
      </div>
      <div id="main">{% block content %} {% endblock %}</div>
    </div>
    <div style="display: none">
      {% comment %}
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/KMxo3T_MTvY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      {% endcomment %}
    </div>
    <script>
      loader = document.getElementById("loader");
      window.addEventListener("load", () => {
        loader.style.display = "none";
      });
    </script>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>
