{% extends 'main.html' %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/vehicles.css' %}" />
<div class="container">
  <div class="row">
    <h2>Vehicles</h2>
    <a href="{% url 'new-driver'%}">New Vehicle<i class="fa-solid fa-plus"></i></a>
  </div>
  <table>
    <thead>
      <tr>
        <td>№</td>
        <td>unit number</td>
        <td>driver</td>
        <td>model</td>
        <td>vin number</td>
        <td>notes</td>
        <td>actions</td>
      </tr>
    </thead>
    <tbody>
      {% if vehicles %} {% for vehicle in vehicles %}
      <tr>
        <td>n*</td>
        <td>{{vehicle.unit_number}}</td>
        <td>*</td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.vin_number}}</td>
        <td>{{vehicle.notes}}</td>
        <td>
          <a href="{% url 'edit-driver' vehicle.id %}">
            <abbr title="Edit">
              <i class="fa-solid fa-pen"></i>
            </abbr>
          </a>
          <a href="">
            <abbr title="Deactivate">
              <i class="fa-solid fa-xmark"></i>
            </abbr>
          </a>
        </td>
      </tr>

      {% endfor %} {% else %}
      <tr>
        <td colspan="12">no records found</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
